.main {
    width: 100%;
    max-width: 292px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; 
     
  }

  @media screen and (min-width: 768px) {
    .main {        
        max-width: 768px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .main {
      max-width: 1200px;
    }
  }
  