.movies-cards-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 70px 0 80px 0;
  }
  
  .movies-cards-list__list {
    list-style: none;
    width: 100%;
    /* max-width: 201px; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));    
    column-gap: 30px;
    row-gap: 59px;
    margin: 0;
    padding: 0;
   
  }
  
  .movies-cards-list__button-more {
    font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;    
    border: 1px solid #424242;
    border-radius: 6px;
    background-color: transparent;
    color: #fff;
    max-width: 320px;
    min-height: 36px;
    width: 100%;
  }