.filter-checkbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 13px;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  
  .filter-checkbox__block {      
    display: block;
  width: 36px;
  height: 15px;
  cursor: pointer;
  position: relative;
  }

  .filter-checkbox__block input[type="checkbox"] {
    display: none;
  }

  .filter-checkbox__block input[type="checkbox"]:checked+.filter-checkbox__toggler-slider {
    background-color: #3DDC84;
  }

  .filter-checkbox__block .filter-checkbox__toggler-slider {
    background-color: #ccc;
    position: absolute;
    border-radius: 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 300ms ease;
  }
  
  .filter-checkbox__block .filter-checkbox__toggler-knob {
    position: absolute;
    transition: all 300ms ease;
  }
  
  .filter-checkbox__block input[type="checkbox"]:checked+.filter-checkbox__toggler-slider .filter-checkbox__toggler-knob {
	left: calc(100% - 9px - 3px);
}

.filter-checkbox__block .filter-checkbox__toggler-knob {
	width: calc(15px - 6px);
	height: calc(15px - 6px);
	border-radius: 50%;
	left: 3px;
	top: 3px;
	background-color: #fff;
}
  
 
  
  
  