.main-title {
    border-bottom: 1px solid #DADADA;
    color: #FFF;

font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.88px;
   
    padding: 0 0 23px 0;
    margin: 0 auto;
    max-width: 284px;
    width: 100%;
    
  }

  @media screen and (min-width: 768px) {
    .main-title {        
        max-width: 668px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .main-title {
        font-size: 22px;
        max-width: 1100px;
    }
  }