.not-found-page__header {
  height: 0px;
}

.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
  height: 100vh;
  box-sizing: border-box;
}

.not-found-page__code-name {
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin: 0;
}

.not-found-page__text-name {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin: 5px 0 0 0;
}

.not-found-page__link {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  color: #4285f4;
  text-decoration: none;
  margin: 190px 0 0 0;
}

.not-found-page__link:hover {
  opacity: 0.7;
}
